.textcenter{
    text-align: center;
}
ul.textcenter{
    padding: 0;
}
a{
    font-size: 15px;
    font-weight: bold;
    color: grey;
    text-decoration: none;
}
button.buttonlayout{
    padding: 0 5px 0 5px;
    border-style: solid;
    border-color: black;
    background-color: black;
    color: white;
    border-width: 5px;
    border-radius: 10px;
    font-size: 20px;
}
.kader_layout {
    font-size: 20px;
    font-family: Calibri,serif;
    border-style: solid;
    border-color: #ff0066;
    border-width: 4px;
    border-radius: 10px;
    width: 400px;
}
form.formlayout{
    alignment: center;
    text-align: center;
    padding: 40px 5px 40px 5px;
    font-size: 20px;
    font-family: Calibri,serif;
}
.clickable_row{
    background-color: transparent;
    alignment: center;
    border: none;
    cursor: pointer;
}
.clickable_row:focus {
    outline: none;
}
body{
    font-family: Calibri,serif;
    font-size: 20px;
    border: 0px;
}
li {
    list-style-type: none;
    font-family: Calibri,serif;
    font-size: 20px;
    padding: 10px;
}
.header {
    font-size: 30px;
    color: white;

    padding: 20px 0 3px 0;
    text-align: center;
}
input{
    font-size: 20px;
    font-family: Calibri,serif;
    border-style: solid;
    border-color: #ff0066;
    border-width: 4px;
    border-radius: 10px;
    display: inline-block;
    alignment: center;
    width: 225px;
    padding: 0 5px 0 5px;
}
label{
    display: inline-block;
    width: 150px;
    text-align: right;
    padding: 5px;
}

#pageheader{
    background-color: black;
    background-image: url("../static/logoSX.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 95px;
}