<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head>
    <title>SX urenregistratie(web 1.0)</title>
    <link href="../static/Stylesheet.css" th:href="@{Stylesheet.css}" rel="stylesheet" media="screen"/>
    <meta charset="UTF-8"/>
</head>
<body>
<header>
    <div>
        <!--<h1 title="PP urenregistratie">-->
        <img src="../static/images/PP-logo_v1.gif" title="Personal Physique" alt="" width="350" th:src="@{/images/PP-logo_v1.gif}" />
        <!--</h1>-->
    </div>
</header>
<p class="textcenter"><!--<span th:text="${pers.name}">NAAM</span>-->Kies een actie en druk op "Verder":</p>
<!--/*@thymesVar id="admin_opts" type="List<Admin_Options>"*/-->
<form th:action="@{/adminopts}" method="get" class="formlayout">
    <select title="select" class="kader_layout" id="optionsList" name="optionsListId">
        <!--/*@thymesVar id="option" type="Admin_Options"*/-->
        <option th:each="item : ${admin_opts}" th:value="${item}" th:text="${item.option}"/>
    </select>
    <button class="buttonlayout" type="submit">Verder</button>
</form>
</body>
</html>