<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head>
    <title>SX urenregistratie(web 1.0)</title>
    <link href="../static/bootstrap.css" th:href="@{bootstrap.css}" rel="stylesheet" media="screen" />
    <script type="text/javascript" src="../../static/jquery-2.2.4.js" th:src="@{jquery-2.2.4.js}"></script>
    <script src="../../static/bootstrap.js" th:src="@{bootstrap.js}"></script>
    <meta charset="UTF-8" />
</head>

<body>
   <div th:replace="fragments/header :: header"></div>

        <div class="container-fluid">

            <p>Kies 'Nieuwe klant' of zoek naar bestaande klanten</p>
                <form th:action="@{/result}" method="get">
                    <button type="button" onclick="location.href='/newcustomer'">Nieuwe Klant</button><br/><br/>
                    <input type="search" name="customerSearch" id="customerSearchId"/>
                    <button type="submit">Zoek</button>
                </form>
            <table>
                    <tr th:each="item : ${searchresults}">
                        <td>
                        <form th:action="@{/customer}" th:object="${customer}" method="post">
                            <input type="hidden" name="customer" th:value="${item.id}"/>
                            <input type="submit" class="clickable_row" th:value="${item}"/>
                        </form>
                        </td>
                    </tr>
            </table>

    <div th:replace="fragments/footer :: footer"></div>
            </div>
</body>
</html>