<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head>
    <title>SX urenregistratie(web 1.0)</title>
    <link href="../static/Stylesheet.css" th:href="@{Stylesheet.css}" rel="stylesheet" media="screen" /> <!--DOES NOT WORK WITH SPRING...STORE STYLESHEET IN DEFFERENT FOLDER???-->
    <meta charset="UTF-8" />
</head>
<body>
<header>
    <div>
        <!--<h1 title="PP urenregistratie">-->
        <img src="../static/images/PP-logo_v1.gif" title="Personal Physique" alt="" width="350" th:src="@{/images/PP-logo_v1.gif}" />
        <!--</h1>-->
    </div>
</header>

<button onclick="window.location.href='/login'" class="buttonlayout">Hoofdmenu</button>

<p class="textcenter">Kies 'Nieuwe trainer' of zoek naar bestaande trainers</p>
<form class="formlayout" th:action="@{/results}" method="get">
    <button class="buttonlayout" type="button" onclick="location.href='/newtrainer'">Nieuwe Trainer</button><br/><br/>
    <input type="search" name="trainerSearch" id="trainerSearchId"/>
    <button class="buttonlayout" type="submit">Zoek</button>
</form>
<div class="scrolling-table">
<table align="center">
    <tbody>
    <tr th:each="item : ${searchresults}">
        <td>
            <form th:action="@{/trainer}" th:object="${trainer}" method="post">
                <input type="hidden" name="trainer" th:value="${item.id}"/>
                <input style = "width:450px;text-align: left;" type="submit" class="clickable_row" th:value="${item}"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>