<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head>
    <title>PP urenregistratie(web 1.0)</title>
    <link href="../static/Stylesheet.css" th:href="@{Stylesheet.css}" rel="stylesheet" media="screen" /> <!--DOES NOT WORK WITH SPRING...STORE STYLESHEET IN DEFFERENT FOLDER???-->
    <meta charset="UTF-8" />
</head>
<body>
    <header>
        <div>
            <!--<h1 title="PP urenregistratie">-->
                <img src="../static/images/PP-logo_v1.gif" title="Personal Physique" alt="" width="350" th:src="@{/images/PP-logo_v1.gif}" />
            <!--</h1>-->
        </div>
    </header>
    <div class="textcenter" th:if="${param.logout}" style="font-weight: bold">
        Je bent uitgelogd
    </div>
    <form id="login-form" role="form" th:action="@{/}" class="formlayout"
          method="post"><!--method="post" th:object="${gizmo}">-->
        <input type="text" style="text-align: center" id="username" placeholder="Gebruikersnaam" name="username"/><!--th:field="${gizmo.field2}"--><br/><br/>
        <input type="password" style="text-align: center" id="psw" placeholder="Wachtwoord" name="password"/><!--th:field="${gizmo.field2}"--><br/><br/>
        <button class="buttonlayout" type="submit">Inloggen</button>
    </form>
    <div th:if="${param.error}" class="textcenter" style="color:red; font-weight: bold">
        Ongeldige gebruikersnaam of wachtwoord, probeer opnieuw
    </div>
    <div style="align-items:baseline">
        <p class="textcenter" style="background-color: white">powered by:<br/>
            <a href="http://www.programit.nl" target="_blank">
                <img src="http://s16.postimg.org/n93chb335/programitlogo152x77.png" title="ProgramIT" style="border:0;" width="100" height="50" />
            </a>
        </p>
    </div>
</body>
</html>