<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="nl-NL">
<head>
    <title>PP urenregistratie(web 1.0)</title>
    <link href="../static/Stylesheet.css" th:href="@{Stylesheet.css}" rel="stylesheet" media="screen"/>
    <!--DOES NOT WORK WITH SPRING...STORE STYLESHEET IN DEFFERENT FOLDER???-->
    <meta charset="UTF-8"/>
</head>
<body>
<header>
    <div>
        <!--<h1 title="PP urenregistratie">-->
        <img src="../static/images/PP-logo_v1.gif" title="Personal Physique" alt="" width="350" th:src="@{/images/PP-logo_v1.gif}" />
        <!--</h1>-->
    </div>
</header>

<button onclick="window.location.href='/loginTo'" class="buttonlayout">Hoofdmenu</button>

<p class="textcenter" style="font-weight: bold">Inplannen of wijzigen sessies:</p>
<p class="textcenter">Zoek op voor- of achternaam klant</p>
<form class="formlayout" th:action="@{/sesresults}" method="get">
    <input type="search" name="customerSessionSearch" id="customerSessionSearchId" placeholder="gedeelte van naam"/>
    <button class="buttonlayout" type="submit">Zoek</button>
</form>
<div th:if="${searchresults != null}" class="scrolling-table">
        <table align="center">
            <thead>
            <tr>
                <th>Klant - Sessie: dag en starttijd</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${searchresults}">
                <td>
                    <form th:action="@{/schedulesession}" th:object="${sportSession}" method="post">
                        <input style="text-align:left; width: 600px;" type="submit" class="clickable_row"
                               th:value="${item}"/>
                        <input type="hidden" name="sportSession" th:value="${item.id}"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
</div>
</body>
</html>
